.chatListContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  overflow: hidden;
  flex-shrink: 0;
  background: var(--sidecolor);
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  white-space: nowrap;

  &.show {
    width: var(--chatlist-width);
  }
}

.chatList {
  overflow-y: auto;
  padding: 1rem 0;
  flex: 1;
}

.chatListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 0.8rem;
  cursor: pointer;

  .conversationLink {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .moreVerticals {
    visibility: hidden;
  }

  &:hover {
    background-color: var(--backcolor);

    & .moreVerticals {
      visibility: visible;
    }
  }

  &.active {
    background-color: var(--lightcolor);
  }
}

.sessionActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: auto;
  border-bottom: 1px solid var(--lightcolor);
}

@media (max-width: 768px) {
  .chatListContainer {
    position: absolute;
    z-index: 3;
    transform: translateX(-100%);
    width: var(--chatlist-width);

    &.show {
      transform: translateX(0);
    }
  }

}