.chatListContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  overflow: hidden;
  flex-shrink: 0;
  background: var(--sidecolor);
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  white-space: nowrap;

  &.show {
    width: var(--chatlist-width);
  }
}

.addChat {
  margin: 1rem;
}

.chatList {
  overflow-y: auto;
}

.chatListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  cursor: pointer;

  .conversationLink {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .moreVerticals {
    visibility: hidden;
  }

  &:hover {
    background-color: var(--backcolor);

    & .moreVerticals {
      visibility: visible;
    }
  }

  &.active {
    background-color: var(--lightcolor);
  }
}

.sessionActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: auto;
  padding: 1rem;
  border-top: 1px solid var(--lightcolor);

  .importExport {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 36px;
  }
}

@media (max-width: 768px) {
  .chatListContainer {
    position: absolute;
    z-index: 3;
    transform: translateX(-100%);
    width: var(--chatlist-width);

    &.show {
      transform: translateX(0);
    }
  }

}