.thinkTag {
  margin: 1rem 0;
  border-left: 3px solid var(--maincolor);
}

.thinkButton {
  cursor: pointer;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.thinkContent {
  padding: 1rem 1rem 0;
  font-style: italic;
}

.bubble {
  padding: 0 1rem;
  border-radius: 1rem;
  line-height: 1.4;
  max-width: 80%;
  overflow-x: auto;
  flex-shrink: 0;
}

.custom {
  align-self: center;
  background-color: var(--customBubble);
}

.user {
  align-self: flex-end;
  background-color: var(--userBubble);
  border-top-right-radius: 0;
}

.assistant {
  align-self: flex-start;
  background-color: var(--assistantBubble);
  border-top-left-radius: 0;
}

.imageBubble {
  max-width: 100%;
  max-height: 200px;
  cursor: 'pointer';
  padding-top: 1rem;
}

.imageModal {
  width: 100%;
}
