
.questionContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.questionArea {
  flex: 1;
}

.menu-items-horizontal {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
}
