.appContainer {
  display: flex;
  height: var(--app-height);
  width: 100vw;
  overflow-x: hidden;
}

.mainPanel {
  position: relative;
  height: 100%;
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    background-color: transparent;
  }

  .settingsContainer {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: transparent;
    backdrop-filter: blur(1px);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 1s linear infinite;
}
