.container {
  height: 100%;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Animation pour l'icône de chargement */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 1s linear infinite;
}
