@import '@mantine/core/styles.css';

:root {
  --chatlist-width: 250px;

  /* Colors */
  --maincolor: #5C9FEF;
  --backcolor: #242424;
  --sidecolor: #313131;
  --lightcolor: #4a4a4a;
  --customBubble: #d4ff004f;
  --userBubble: #00abff4f;
  --assistantBubble: #0000006e;
}

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: var(--backcolor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.hidden {
  display: none;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.shifted {
  width: calc(100% - var(--chatlist-width));
}

.appContainer {
  display: flex;
  height: var(--app-height);
  width: 100vw;
  overflow-x: hidden;
}

.mainPanel {
  position: relative;
  height: 100%;
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    background-color: transparent;
  }

  .configContainer {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spin-animation {
  animation: spin 2s linear infinite;
}