:root {
  --chatlist-width: 250px;

  /* Colors */
  --maincolor: #5C9FEF;
  --backcolor: #242424;
  --sidecolor: #313131;
  --lightcolor: #4a4a4a;
  --customBubble: #d4ff004f;
  --userBubble: #00abff4f;
  --assistantBubble: #0000006e;
}

#root {
  height: 100vh;
  width: 100vw;
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: var(--backcolor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.hidden {
  display: none;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}